* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/** Sidebar **/
.sidebar {
    width: 100%;
    height: 100vh;
    background: #fff;
    box-shadow: 18px 4px 35px rgba(0, 0, 0, 0.02);
}
.sidebar .logo {
    width: 100%;
    height: 10vh;
    /*padding-top: 15px;
    padding-left: 65px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar .sidebar__links {
    padding-top: 20px;
}
.sidebar .sidebar__links .sidebar__item {
    padding-bottom: 20px;
}
.sidebar .sidebar__links .sidebar__item .sidebar__link {
    font-size: 18px;
    color: #333;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
    display: block;
    transition: 0.5s ease-in-out;
    font-weight: 700;
}
.sidebar .sidebar__links .sidebar__item .sidebar__link.active {
    color: #2F4CDD;
    background: #E9ECFF;
}
.sidebar .sidebar__links .sidebar__item .sidebar__link .icon {
    margin-right: 10px;
    font-size: 18px;  
}
.sidebar .sidebar__links .sidebar__item .sidebar__link .icon .badge { background: #2F4CDD; }
/** Sidebar End **/
/** Header **/
.header {
    width: 100%;
    height: 10vh;
    background: #fff !important;
    box-shadow: 0 5px 20px rgba(0,0,0,0.04);
}
.header .icon {
    font-size: 22px;
}
.header .nav-mid__link {
    color: #333;
    font-weight: 700;
}
.header .nav-mid__link:hover { border-bottom: 2px solid #2f4cdd; color: #2F4CDD;; }
.header .nav__icon {
    color: #333;
    font-size: 22px;
}
.header .nav-right__item:first-child .nav-right__link .nav__icon { color: #2F4CDD; }
.header .nav-right__item:nth-child(2) .nav-right__link .nav__icon { color: #2F4CDD; }
.header .nav-right__item:last-child .nav-right__link .nav__icon { color: #FF6D4D; }
.header .nav-right__link {
    padding: 8px 6px;
    background: lightgray;
    border-radius: 5px;
    margin-right: 20px;
    position: relative;
}
.header .nav-right__item:first-child .nav-right__link { background: #E9ECFF;; }
.header .nav-right__item:nth-child(2) .nav-right__link { background: #E9ECFF; }
.header .nav-right__item:last-child .nav-right__link { background: #FFEBE7; }
.header .nav-right__link .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 4px 8px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
}
.header .nav-right__item:first-child .nav-right__link .badge {background: #2F4CDD;}
.header .nav-right__item:nth-child(2) .nav-right__link .badge {background: #2F4CDD;}
.header .nav-right__item:last-child .nav-right__link .badge {background: #FF6D4D; }
/** Header End **/
/*************************** Main ******************************/
main {
    background: #f9f9f9;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-y: auto;
}
/*************** End ********************************************/
/****************** Orders ****************************/

/** Order Status **/
.order-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.order-status h2 {
    font-size: 28px;
    font-weight: 700;
}
.order-status p {
    color: #969BA0;
    font-size: 16px;
    font-weight: 400;
}
.order-status .btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: #E9ECFF;
    color: #2F4CDD;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
.order-status .btn:hover {
    background: #2F4CDD;
    color: #E9ECFF;
}
.order-status .btn .btn__icon { font-size: 22px; align-self: center; }
/** End **/
/** Order Table **/
.order-table {
    padding: 25px;
}
.order-table .results-pagination {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-table .results-pagination .result p { font-size: 16px; }
.order-table .results-pagination .pagination .btn-next {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    background: #2F4CDD;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
/** End **/
/************************** End *********************************/

/************************ Customers ******************************/
/** Customer Status **/
.customer-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.customer-status h2 {
    font-size: 28px;
    font-weight: 700;
}
.customer-status p {
    color: #969BA0;
    font-size: 16px;
    font-weight: 400;
}
.customer-status .btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: #E9ECFF;
    color: #2F4CDD;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.customer-status .btn:hover {
    background: #2F4CDD;
    color: #E9ECFF;
}
.customer-status .btn .btn__icon { font-size: 22px; align-self: center; }
/** End **/
/** Customer Table **/
.customer-table {
    padding: 25px;
}
.customer-table .results-pagination {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer-table .results-pagination .result p { font-size: 16px; }
.customer-table .results-pagination .pagination .btn-next {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    background: #2F4CDD;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
}
/** End **/
/************************** End ******************************************/

/************************** Dashboard *************************************/
/** Dashboard Status **/
.dashboard-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.dashboard-status h2 {
    font-size: 28px;
    font-weight: 700;
}
.dashboard-status p {
    color: #969BA0;
    font-size: 16px;
    font-weight: 400;
}
.dashboard-status .btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: #E9ECFF;
    color: #2F4CDD;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.dashboard-status .btn:hover {
    background: #2F4CDD;
    color: #E9ECFF;
}
.dashboard-status .btn .btn__icon { font-size: 22px; align-self: center; }
/** End **/
/** Dasboard Cards ***/
.main__card {
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
    width: 18rem;
    height: 150px;
    padding: 35px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.02);
}
.card__img {
    width: 75px;
    height: 75px;
    background-color: #E9ECFF;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;
}
.card__img .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #2F4CDD;
}
.card__info { line-height: 0.5; }
.card__info h4 {
    font-size: 32px;
    font-weight: bold;
}
.card__info h5 { font-size: 16px; }
.card__info p { font-size: 12px; }
/** End **/
/** Dashboard Order Summary **/
.dashboard__order__summary {
    width: 100%;
    min-height: 40vh;
    height: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-bottom: 50px;
}
.dashboard__order__summary-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard__order__summary-details .title__info {
    line-height: 0.5;
}
.dashboard__order__summary-details .title__info h3 { font-size: 20px; font-weight: 700; }
.dashboard__order__summary-details .title__info p { font-size: 12px; }
.dashboard__order__summary-details .title__day {
    width: 240px;
    height: 48px;
    background: #f4f5f9;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.dashboard__order__summary-details .title__day p { padding-top: 10px; color:#969BA0; }
.dashboard__order__summary-details .title__day p.active {
    color: #333;
    font-weight: 500; 
    /*position: absolute;
    display: inline-block;
    background: #fff;
    position: relative;
    color: #333;
    width: 92px;
    height: 24px;*/
 }
 .dashboard__order__order-details {
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 60px;
     background: #E9FFEF;
     margin-top: 20px;
     border-radius: 10px;
     padding: 10px;
 }
 .dashboard__order__order-details .new__order {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .dashboard__order__order-details .new__order h3 { font-size: 18px; font-weight: 500; margin-left: 20px; }
 .dashboard__order__order-details .new__order h3 .notify { 
     width: 11px;
     height: 11px;
     border-radius: 50%;
     background: #2BC155;
  }
  .dashboard__order__order-details .manage__orders p { 
      padding-top: 10px; 
      color: #2F4CDD;
      font-weight: 500;
      font-size: 16px; 
    }
    .dashboard__order__order-details .manage__orders p .icon { font-size: 20px; }
    .dashboard__order__order-cards {
        margin-top: 20px;
    }
    .dashboard__order__order-cards .order-card {
        width: 100%;
        height: 110px;
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        line-height: 0.5;
        padding: 20px;
    }
    .dashboard__order__order-cards .order-card h4 { font-size: 32px; font-weight: 600; }
    .dashboard__order__order-cards .order-card p { font-size: 18px; font-weight: 500; }
    .dashboard__order__chart-data {
        display: flex;
        margin-top: 50px;  
    }
    .dashboard__order__chart-data .charts {
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        position: relative;
        width: 200px;
        height: 200px;
    }
    .dashboard__order__chart-data .charts .chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    /*.dashboard__order__chart-data .progress-data {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }*/
    /**
    .dashboard__order__chart-data {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
    .dashboard__order__chart-data .charts { 
        width: 150px; 
        height: 150px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .dashboard__order__chart-data .charts .chart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }**/
 /** End **/
/** Dashboard Revenue **/
.dashboard__revenue {
    width: 100%;
    min-height: 40vh;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
    margin-bottom: 50px;
}
.dashboard__revenue-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard__revenue-details .title__info {
    line-height: 0.5;
}
.dashboard__revenue-details .title__info h3 { font-size: 20px; font-weight: 700; }
.dashboard__revenue-details .title__info p { font-size: 12px; }
.dashboard__revenue-details .title__day .btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: #E9ECFF;
    color: #2F4CDD;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.dashboard__revenue-details .title__day .btn:hover {
    background: #2F4CDD;
    color: #fff;
}
.dashboard__revenue-details .title__day .btn .btn__icon { font-size: 22px; }
.dashboard__revenue-charts {
    margin-top: 20px;
}
/** End **/
/** Dashboard Customer **/
.dashboard__customer {
    padding: 10px;
    margin-bottom: 30px;
    position: relative;
}
/** Dashboard Customer Map **/
.dashboard__customer .dashboard__customer-map {
    width: 100%;
    height: 250px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 20px;
}
.dashboard__customer-map .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard__customer-map .details .title__info {
    line-height: 0.5;
}
.dashboard__customer-map .details .title__info h3 { font-size: 20px; font-weight: 700; }
.dashboard__customer-map .details .title__info p { font-size: 12px; }
.dashboard__customer-map .details .title__day {
    width: 240px;
    height: 48px;
    background: #f4f5f9;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.dashboard__customer-map .details .title__day p { padding-top: 10px; color: #969BA0; }
.dashboard__customer-map .details .title__day p.active { color: #333; font-weight: 500; }
.dashboard__customer-map .dashboard__customer__chart-data .charts {
    position: relative;
    width: 100%;
    height: 180px;
}
.dashboard__customer-map .dashboard__customer__chart-data .charts .chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
/** End **/
/** Dashboard Customer Manage **/
.dashboard__customer .dashboard__customer-manage {
    width: 100%;
    height: 250px;
    background: #3E4954;
    border-radius: 10px;
    box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.04);
    padding: 30px;
}
.dashboard__customer .dashboard__customer-manage h3 { 
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
 }
 .dashboard__customer .dashboard__customer-manage .icon { color: #fff; font-size: 54px; }
 .dashboard__customer .dashboard__customer-manage .split-content {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .dashboard__customer .dashboard__customer-manage .split-content p { font-size: 12px; font-weight: 400; }
 .dashboard__customer .dashboard__customer-manage .split-content .icon { font-size: 30px; }
/** End **/
/****************************** End **************************************/
/**************************** Analytics ********************************/
/** Analytics Status **/
.analytics-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.analytics-status h2 {
    font-size: 28px;
    font-weight: 700;
}
.analytics-status p {
    color: #969BA0;
    font-size: 16px;
    font-weight: 400;
}
.analytics-status .btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: #E9ECFF;
    color: #2F4CDD;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.analytics-status .btn:hover {
    background: #2F4CDD;
    color: #E9ECFF;
}
.analytics-status .btn .btn__icon { font-size: 22px; align-self: center; }
/** End **/
/** Analytics Chart Orders **/
.anlaytics__orders { padding: 20px; }
.anlaytics__orders .chart-orders {
    width: 100%;
    min-height: 500px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}
.anlaytics__orders .chart-orders .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.anlaytics__orders .chart-orders .details .title__info { line-height: 0.5; }
.anlaytics__orders .chart-orders .details .title__info h3 { font-size: 20px; font-weight: 700; }
.anlaytics__orders .chart-orders .details .title__info p { font-size: 12px; }
.anlaytics__orders .chart-orders .details .title__day {
    width: 240px;
    height: 48px;
    background: #f4f5f9;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.anlaytics__orders .chart-orders .details .title__day p { padding-top: 10px; color:#969BA0; }
.anlaytics__orders .chart-orders .details .title__day p.active {color: #333;font-weight: 500;}
.anlaytics__orders .chart-orders .sales {
    padding: 20px;
    display: flex;
}
.anlaytics__orders .chart-orders .sales h3 {
    font-size: 22px;
    font-weight: 700;
}
.anlaytics__orders .chart-orders .sales div:first-child { margin-right: 50px; }
.anlaytics__orders .chart-orders .sales h3 .icon { font-size: 24px; font-weight: bold; }
.anlaytics__orders .chart-orders .sales p { font-size: 12px; }
.anlaytics__orders .chart-orders .chart-data {
    position: relative;
    width: 100%;
    height: 250px;
    padding: 20px;
}
.anlaytics__orders .chart-orders .chart-data .chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/** End **/
/** Analytics Trending Items **/
.anlaytics__orders .trending-items {
    width: 100%;
    min-height: 500px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
}
.anlaytics__orders .trending-items .trending-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0.5;
}
.anlaytics__orders .trending-items .trending-status h2 {
    font-size: 20px;
    font-weight: 700;
}
.anlaytics__orders .trending-items .trending-status { font-size: 12px; }
.anlaytics__orders .trending-items .trending-status .btn {
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    background: #f4f5f9;
    color: #2F4CDD;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.anlaytics__orders .trending-items .trending-status .btn:hover {
    background: #2F4CDD;
    color: #f4f5f9;
}
.anlaytics__orders .trending-items .trending-status .btn .btn__icon { font-size: 22px; align-self: center; }
/** End **/
/** Analytics Favourite Items **/
.analytics__items { padding: 20px; }
.analytics__items .favourite-items {
    width: 100%;
    min-height: 500px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
}
.analytics__items .favourite-items .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.analytics__items .favourite-items .details .title__info { line-height: 0.5; }
.analytics__items .favourite-items .details .title__info h3 { font-size: 20px; font-weight: 700; }
.analytics__items .favourite-items .details .title__info p { font-size: 12px; }
.analytics__items .favourite-items .details .title__day {
    width: 240px;
    height: 48px;
    background: #f4f5f9;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.analytics__items .favourite-items .details .title__day p { padding-top: 10px; color:#969BA0; }
.analytics__items .favourite-items .details .title__day p.active {color: #333;font-weight: 500;}
/** End **/
/** Analytics selling items **/
.analytics__items .selling-items {
    width: 100%;
    min-height: 500px;
    height: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    padding: 20px;
}
.analytics__items .selling-items .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.analytics__items .selling-items .details .title__info { line-height: 0.5; }
.analytics__items .selling-items .details .title__info h3 { font-size: 20px; font-weight: 700; }
.analytics__items .selling-items .details .title__info p { font-size: 12px; }
.analytics__items .selling-items .details .title__day {
    width: 240px;
    height: 48px;
    background: #f4f5f9;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.analytics__items .selling-items .details .title__day p { padding-top: 10px; color:#969BA0; }
.analytics__items .selling-items .details .title__day p.active {color: #333;font-weight: 500;}
/** End **/
/************************** End *****************************************/